{% extends 'blog/base.html' %}
{% block title %}
{{ title }}{{ block.super }}
{% endblock %}

{% block content %}
{% for post in posts %}
<div class="card my-4 shadow-sm">
  <div class="card-header">
    category: <a href="{{ post.category.get_absolute_url }}"> {{ post.category }}</a>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    {% if post.image %}
    <img src="{{ post.image.url }}" class="card-img-top rounded-3" alt="...">
    {% endif %}
    <p class="card-text mr-2 mt-2 md-2 pt-2 pd-2 pr-2">{{ post.content|safe|truncatewords:70 }}</p>
    <a href="{{ post.get_absolute_url }}" class="btn btn-primary shadow-sm"
       style="background-color:#a81113; border:#a81113">Read more</a>
    <p class="card-text"><small class="text-muted">{{ post.views }} views</small></p>
  </div>
  <div class="card-footer text-muted">
    {{ post.created_at }}
  </div>
</div>
{% endfor %}
{% endblock %}
</html>