<div class="row justify-content-center my-2 g-1 sm-12">
    <a class="text-decoration-none" href="{% url 'last_news' %}"><h2 class="mb-0">Latest</h2></a>
    <div class="row row-cols-auto g-1 mb-3">
        {% if posts %}
            {% if posts.count == 1 %}
                {% for post in posts %}
                    <div class="col-md-12 col-sm-12">
                        <a class="text-decoration-none text-dark" href="{{ post.get_absolute_url }}">
                            <div class="card post-card" style="height:100%">
                                {% if post.image %}
                                <img src="{{ post.image.url }}" class="card-img-1" alt="...">
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title">{{ post.title }}</h5>
                                    {% if posts.short_description %}
                                        <p class="card-text">{{ post.short_description|safe }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% elif posts.count == 2 %}
                {% for post in posts %}
                    <div class="col-md-6 col-sm-12">
                        <a class="text-decoration-none text-dark" href="{{ post.get_absolute_url }}">
                            <div class="card post-card" style="height:100%">
                                {% if post.image %}
                                <img src="{{ post.image.url }}" class="card-img-2" alt="...">
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title">{{ post.title }}</h5>
                                    {% if post.short_description %}
                                        <p class="card-text">{{ post.short_description|safe }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% elif posts.count == 3 %}
                {% for post in posts %}
                    <div class="col-md-4 col-sm-12">
                        <a class="text-decoration-none text-dark" href="{{ post.get_absolute_url }}">
                            <div class="card post-card" style="height:100%">
                                {% if post.image %}
                                <img src="{{ post.image.url }}" class="card-img-3" alt="...">
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title">{{ post.title }}</h5>
                                    {% if post.short_description %}
                                        <p class="card-text">{{ post.short_description|safe }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% elif posts.count == 4 %}
                {% with first_row=posts|slice:":3" %}
                    {% for post in first_row %}
                        <div class="col-md-4 col-sm-12">
                            <a class="text-decoration-none text-dark" href="{{ post.get_absolute_url }}">
                                <div class="card post-card" style="height:100%">
                                    {% if post.image %}
                                    <img src="{{ post.image.url }}" class="card-img-3" alt="...">
                                    {% endif %}
                                    <div class="card-body">
                                        <h5 class="card-title">{{ post.title }}</h5>
                                        {% if post.short_description %}
                                            <p class="card-text">{{ post.short_description|safe }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                {% endwith %}
                {% with last_row=posts|slice:"3:" %}
                    <div class="col-md-12 col-sm-12">
                        <a class="text-decoration-none text-dark" href="{{ last_row.0.get_absolute_url }}">
                            <div class="card post-card" style="height:100%">
                                {% if last_row.0.image %}
                                    <img src="{{ last_row.0.image.url }}" class="card-img-1" alt="...">
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title">{{ last_row.0.title }}</h5>
                                    {% if last_row.short_description %}
                                        <p class="card-text">{{ last_row.short_description|safe }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </div>
                {% endwith %}
            {% elif posts.count == 5 %}
                {% with first_row=posts|slice:":3" %}
                    {% for post in first_row %}
                        <div class="col-md-4 col-sm-12">
                            <a class="text-decoration-none text-dark" href="{{ post.get_absolute_url }}">
                                <div class="card post-card" style="height:100%">
                                    {% if post.image %}
                                        <img src="{{ post.image.url }}" class="card-img-top" alt="..." style="max-height: 8vw;">
                                    {% endif %}
                                    <div class="card-body">
                                        <h5 class="card-title">{{ post.title }}</h5>
                                        {% if post.short_description %}
                                            <p class="card-text">{{ post.short_description|safe }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                {% endwith %}
                {% with last_row=posts|slice:"3:" %}
                    {% for post in last_row %}
                        <div class="col-md-6 col-sm-12">
                            <a class="text-decoration-none text-dark" href="{{ post.get_absolute_url }}">
                                <div class="card post-card" style="height:100%">
                                    {% if post.image %}
                                        <img src="{{ post.image.url }}" class="card-img-2" alt="..." style="">
                                    {% endif %}
                                    <div class="card-body">
                                        <h5 class="card-title">{{ post.title }}</h5>
                                        {% if post.short_description %}
                                            <p class="card-text">{{ post.short_description|safe }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                {% endwith %}
            {% else %}
                {% for post in posts %}
                        <div class="col-md-4 col-sm-12">
                            <a class="text-decoration-none text-dark" href="{{ post.get_absolute_url }}">
                                <div class="card post-card" style="height:100%">
                                    {% if post.image %}
                                        <img src="{{ post.image.url }}" class="card-img-3" alt="...">
                                    {% endif %}
                                    <div class="card-body">
                                        <h5 class="card-title">{{ post.title }}</h5>
                                        {% if post.short_description %}
                                            <p class="card-text">{{ post.short_description|safe }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </a>
                        </div>
                {% endfor %}
            {% endif %}
        {% endif %}
    </div>
</div>