{% load tags %}
{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow fixed-top" id="navbar">
    <div class="container-fluid">
        <div class="flex-grow-1">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="logo-panel">
                <a class="nav-link active" aria-current="page" href="{% url 'index' %}">
                    <img class="align-center me-1" src="{% static 'images/elephgreen.png' %}" width=32px alt="logo">
                    The green elephant news</a>
            </div>
            <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
                <ul class="navbar-nav me-2">
                    <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
                    <li class="nav-item" id="category"><a class="nav-link">Categories</a></li>
                    {% get_categories as categories %}
                    {% if request.user.is_staff or request.user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add_post' %}">Add post</a>
                    </li>
                    {% endif %}
                </ul>
                <div class="d-flex" id="nav-right-items">
                    <div class="d-flex me-2" id="#username">
                    </div>
                    <form class="d-flex flex-shrink-1 flex-grow-1" action="{% url 'search_post' %}">
                        {% csrf_token %}
                        <input class="form-control me-2 flex-shrink-1 flex-grow-1" type="search" placeholder="Search"
                               aria-label="Search" name="search" id="search-form">
                        <button class="btn btn-outline-warning" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="user-dropdown ms-2" id="user-dropdown">
            {% if request.user.is_authenticated %}
            <a class='avatar-link' href="{% url 'profile' %}">
            <img class="avatar-nav" src="{{ user.profile.avatar.url }}"></a>
            <button class="btn btn-warning dropdown-toggle user-button px-1" type="button"
                    data-bs-toggle="dropdown" aria-expanded="false">{{ user.profile }}
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                <li><a class="dropdown-item" href="{% url 'profile' %}">profile</a></li>
                <hr class="dropdown-divider">
                <li><a class="dropdown-item" href="{% url 'logout' %}">logout</a></li>
            </ul>
            {% else %}
            <div class="d-flex mx-1"></div>
            <a class='avatar-link' href="{% url 'login'%}">
                <svg style='margin-left: 1rem;' xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                     fill="white" class="bi bi-person-fill"
                     viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg>
            </a>
            {% endif %}
        </div>
    </div>
</nav>
<section class="category-panel" id="category-panel">
    {% for category in categories.all_categories %}
    <div class="category-item"><a class="category-link" href="{{category.get_absolute_url}}">{{category.title}}</a>
    </div>
    {% endfor %}
</section>