<div class="container-md mt-5 py-5">
    <footer class="row justify-content-around py-3 my-4 border-top align-items-center">
        <ul class="nav col-md-4 col-sm-12 justify-content-center">
            <li class="nav-item my-1"><a href=# class="nav-link text-muted">Home</a></li>
            <li class="nav-item my-1"><a href=# class="nav-link text-muted">About</a></li>
        </ul>
        <ul class="nav col-md-4 col-sm-12 justify-content-center">
            <li class="nav-item my-1 "><a href="{% url 'index' %}">
                <div class="mt-1">
                <img src="/static/blog/images/elephant2.jpg"
                     width="24px" heght="24px" alt="logo"></div></a></li>
            <li class="nav-item my-1"><a class="nav-link text-muted" href="{% url 'index' %}">The green elephant news</a></li>
        </ul>
        <p class="col-md-4 col-sm-12 text-muted text-center my-2">&#169 2021 All rights reserved</p>
    </footer>
</div>