{% load tags %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}"><img src="/static/blog/images/elephant2.jpg"
                                                              width=32px alt="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'index' %}">The green elephant news</a>
                </li>
                {% get_categories as categories %}
                {% if categories.hype_categories %}
                    {% for category in categories.hype_categories %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ category.get_absolute_url }}">{{ category.title }}</a>
                        </li>
                    {% endfor %}
                {% endif %}
                {% if categories.other_categories %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Categories
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            {% for category in categories.other_categories %}
                                <li><a class="dropdown-item" href="{{ category.get_absolute_url }}">{{ category.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
                {% if request.user.is_staff or request.user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add_post' %}">add post</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="d-flex mx-2">
            {% if request.user.is_authenticated %}
            <div class="navbar-text text-light">{{ user.username }} | <a class="text-decoration-none" href="{% url 'logout' %}">sign out</a></div>
            {% else %}
            <div class="navbar-text text-light">
                <a class="text-decoration-none" href="{% url 'register' %}">sign up</a> |
                <a class="text-decoration-none" href="{% url 'login' %}">sign in</a>
            </div>
            {% endif %}
        </div>
        <form class="d-flex" action="{% url 'index' %}">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
            <button class="btn btn-outline-warning" type="submit">Search</button>
        </form>

    </div>
</nav>