container {
    width: 100vm;
}

img {
    max-width: 100%;
    object-fit: cover;
}


.logo {
    max-width: 32px;
    background-color: inherit;
}

.auth {
    display: flex;
}

.card-img-top {
    max-width: 100%;
    max-height: 16vw;
    object-fit: cover;
}

.card-img-1 {
    max-height: 30vw;
    max-width: 100%;
}

.card-img-2 {
    max-height: 10vw;
}

.card-img-3 {
    max-height: 7vw;
}

